version: "3.9"

services:
  mongo:
    image: mongo:6
    container_name: tomato-mongo
    restart: always
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"

  backend:
    image: a7medelzanaty/backend:latest 
    container_name: tomato-backend
    restart: always
    ports:
      - "4000:4000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/tomato
    depends_on:
      - mongo

  frontend:
    image: a7medelzanaty/frontend:latest
    container_name: tomato-frontend
    restart: always
    ports:
      - "3000:80"
    depends_on:
      - backend

  admin:
    image: a7medelzanaty/admin:latest
    container_name: tomato-admin
    restart: always
    ports:
      - "3001:80"
    depends_on:
      - backend

volumes:
  mongo_data: