---
- name: Update all packages
  package:
    name: "*"
    state: latest
  become: yes

- name: Install Docker Engine
  shell: amazon-linux-extras install docker -y
  become: yes

- name: Install Docker Compose
  get_url:
    url: https://github.com/docker/compose/releases/latest/download/docker-compose-Linux-x86_64
    dest: /usr/local/bin/docker-compose
    mode: '0755'
  become: yes

- name: Ensure Docker is started and enabled
  systemd:
    name: docker
    state: started
    enabled: yes
  become: yes

- name: Add ec2-user to docker group
  user:
    name: ec2-user
    groups: docker
    append: yes
  become: yes

- name: Create a symbolic link for docker-compose
  file:
    src: /usr/local/bin/docker-compose
    dest: /usr/bin/docker-compose
    state: link
  become: yes
